aws_region    = "ap-south-1"
instance_type = "t2.micro"
key_name      = "terraform-key"

vpc_cidr = "10.0.0.0/16"

web_subnet_cidr     = "10.0.1.0/24"
db_subnet_cidr      = "10.0.2.0/24"
ansible_subnet_cidr = "10.0.3.0/24"

environment = "dev"